* {
  gap: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
}

body {
  background-color: #145587;
  overflow: hidden;
}

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Player & Computer sections */
.Player_Side,
.Computer_Side {
  flex: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  transition:  rgb(97, 161, 231) 0.3s ease;
}


/* Boards */
.Player_Board,
.Computer_Board {
  display: grid;
  grid-template-columns: repeat(1fr, 10);
  grid-template-rows: repeat(1fr, 10);
  width: min(90vw, 90vh);
  max-width: 750px;
  aspect-ratio: 1 / 1;
  gap: 0 px;

  background-color: rgb(97, 161, 231);
  border: 2px solid #000;
  border-radius: 10px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  gap: 1px; /* optional, for spacing between cells */
}


/* Randomize button */
.Randomize , .Start_Game{
  width: min(40vw, 160px);
  height: 44px;

  font-size: 16px;
  font-weight: 500;
  color: #000;

  background-color: #f2f2f2;
  border: none;
  border-radius: 6px;

  cursor: pointer;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);

}

.Start_Game {
  display: none;
}

.Randomize:hover {
  background-color: #e6e6e6;
}

.Randomize:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.Column,
.Row {
  border: 1.25px solid #000;
}

.Column {
  display: flex;
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: default;
}

.Row {
  width: 10%;
  height: 100%;
  user-select: none;
  cursor: default;
  background-color: rgb(97, 161, 231);
}

.Cell:hover {
  background-color: rgba(95, 149, 207, 0.571);
}

.BoardTag {
    color: white;
    font-size: 36px;
}

.ButtonWrapper {
    display: flex;
    gap: 50px;
}

.BoardWrapper {
  display: flex;
  flex-direction: column;
}

.Number_Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Number_Wrapper > h2 {
  width: 10%;
  text-align: center;
}